.features {
	margin-top: $base-spacing * 2;
	margin-bottom: $base-spacing * 2;

	@include grid-media($tablet-grid){
		margin-top: 200px;
		margin-bottom: $base-spacing * 2;
	}

	@include grid-media($desktop-grid){
		margin-top: 0;
		margin-bottom: $base-spacing * 4;
	}
  
	@include elem('heading') { // need to standardize headings across site!!!
		width: 100%;
		text-align: center;
		margin-top: $base-spacing;
		font-size: modular-scale(2);
		color: $oil;		
		@include grid-media($tablet-grid){
			font-size: modular-scale(3);
		}
	}
	
	@include elem('cards-wrapper') {
		@include grid-container;
		margin: $base-spacing auto; 
		width: 90%;
		
		@include grid-media($tablet-grid){ 
			width: 80%;
		}
		
		@include grid-media($desktop-grid){ 
			width: 100%;
		}	
		
		@include grid-media($large-desktop-grid){ 
			width: 100%;
		}				
	}
	
	@include elem('cta') {
		@include grid-container;
		margin: 0 auto $base-spacing * 2;

		width: 90%;
		@include grid-media($tablet-grid){
			width: 80%;
		}
		
		@include grid-media($desktop-grid){	 
			width: 80%;
		}	
		
		@include grid-media($large-desktop-grid){	 
			width: 60%;
		}		
		
		p {
			font-size: modular-scale(1);
			color: $charcoal;
		}
	}

	@include elem('cta-database') {
		@include grid-column(3);
		text-align: center;
		
		@include grid-media($tablet-grid){ 
			@include grid-column(3);
		}
		
		@include grid-media($desktop-grid){ 
			@include grid-column(6);
		}	
		
		@include grid-media($large-desktop-grid){ 
			@include grid-column(6);
		}				
	}
	
	@include elem('cta-signup') {
		@include grid-column(3);
		text-align: center;
		margin-top: $base-spacing;
		
		@include grid-media($tablet-grid){ 
			@include grid-column(3);
			margin-top: 0;			
		}
		
		@include grid-media($desktop-grid){ 
			@include grid-column(6);
		}	
		
		@include grid-media($large-desktop-grid){ 
			@include grid-column(6);
		}				
	}		
						
}