
.form {

  box-shadow: 2px 2px 5px transparentize($oil, .5);

	button {
		margin-top: $base-spacing / 2;
		background: $lorikeet-blue;
		box-shadow: 1px 1px 2px transparentize($oil, .6);
	}

	input, select {
		border: solid 1px transparentize($oil, .8);
	}
	

	&:disabled {
		background-color: red;
	}

	@include container(100%, $base-spacing);
	
	

	
	@media all and (min-width : 768px) and (max-width : 1024px) {
		@include container(600px, $base-spacing);	    
  } 	

  @media all and (min-width : 1025px) {
		@include container(600px, $base-spacing);	                
  }   
  
	background: $gainsboro;
	position: relative;
	padding: $base-spacing;
	border-radius: $base-border-radius;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	@include mod('wide') {
		// want a wider form specify it in this modifier
	}
	
	@include elem('title') {
		color: $vapor;
		margin-bottom: $base-spacing;
		background: $oil;
		width: 100%;
		flex: 1 1 100%;
		padding: $base-spacing / 2;
		border-radius: $base-border-radius;		
		
		h2 {
			text-align: center;
			margin: 0 auto;
		}
	}
	
	@include elem('label') {
		display: flex;
		
		span {
			margin-left: $base-spacing / 2;
			color: $wes-pink;
		}
	}
	
	@include elem('input') {
		flex: 1 1 100%;
	
		@include mod('comments') {
			rows: 10;
		}
	
		@include mod('half') { /// for 1/2 width form elements 
			flex: 0 1 50%;
		}
	}
	
	@include elem('dropzone') {
		flex: 1 1 100%;
		
				
	}
	
	@include elem('dropzone-box') {
		width: 100%;
		background: red;
		
				
	}	
	
	@include elem('submit') {
		flex: 1 1 100%;
		align-self: center;
		
		button {
			width: 100%;
			&:hover {
				// @include tropical-gradient(90deg)
			}
		}
	}

	@include elem('reset-panel') {
		@include container(600px, $base-spacing);
		padding: $base-spacing;
		margin-bottom: $base-spacing * 2;
		border-radius: $base-border-radius;						
		background: $silver;
		text-align: center;
		color: $jumbo;
  	box-shadow: 2px 2px 5px transparentize($oil, .5);
  		
		p {
			margin-bottom: 0;
		}

		a {
			color: transparentize($wes-pink, .4);


			&:hover {
				color: $oil;
			}
		}
	}
}

