
// I found part of the solution in Kartik Prabhu’s “Equal height images with flexbox”, 
// which shows a neat trick with the flex-grow property. If flex-grow is set to the 
// calculated aspect ratio of the image (with a common ratio like 3:2 written as 1.5), 
// images that have the same flex-basis (initial width) will maintain the same height while adjusting their width proportionally.


.landing {

	background: linear-gradient(0deg, lighten($lorikeet-blue, 30%), darken($lorikeet-blue, 10%));
	max-width: 100%;
	width: 100%;
	min-height: 900px;

	@include elem('heading') {
		@include text-shadow(3);
		 
		width: 100%;
		text-align: center;
		margin-top: $base-spacing / 2;
		font-size: modular-scale(3);
		color: $vapor;
		
		@include grid-media($desktop-grid){
			font-size: modular-scale(5);
			margin-top: $base-spacing;
		}		
	}
	
	@include elem('viewport') {
		margin: 0 auto;
		width: 90%;
		@include grid-media($tablet-grid){
			height: calc(100vh - 156px); 
			width: 80%;
		}
		
		@include grid-media($desktop-grid){
			height: calc(100vh - 128px); 		 
			width: 80%;
		}	
		
		@include grid-media($large-desktop-grid){
			height: calc(100vh - 128px); 		 
			width: 60%;
		}				
	}

	@media all and (min-width : 1025px) { 
		min-height: 1200px;
	}

	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	position: relative;

	@include elem('hero-wrapper') {
		@include grid-container;
		display: flex;
		flex-wrap: wrap;
		margin-top: $base-spacing;
		align-self: center;
		min-height: 600px;
		width: 90%;
		@include grid-media($tablet-grid){
			height: calc(100vh - 156px); 
			width: 80%;
		}
		
		@include grid-media($desktop-grid){
			height: calc(100vh - 128px); 		 
			width: 80%;
		}	
		
		@include grid-media($large-desktop-grid){
			height: calc(100vh - 128px); 		 
			width: 60%;
		}					
		// min-height: 200px;
	}

	@include elem('intro-container') {
		color: $vapor;
		text-align: center;
		margin-top: $base-spacing / 2;
		
		
	  @include grid-media($tablet-grid){
	    @include grid-column(6);
			margin-top: $base-spacing;
	  }
	  
	  @include grid-media($desktop-grid){
	    @include grid-column(6);
	    margin-top: 0;
	  }		
	}
	
	@include elem('btn') {
		@include drop-shadow(1);
		margin: 0 auto;
		display: flex;
		align-items: center;

		svg {
			margin-right: $base-spacing / 2;
			fill: $vapor;
			width: 24px;
			height: 24px;			
			
		}
	}	

}

