@import '../settings';

.loader {
	padding: $base-spacing;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $base-spacing * 2;
	
	@include elem('heading') {
		margin-top: $base-spacing;
		margin-bottom: $base-spacing * -2;
	}
}