
.loader {
	padding: $base-spacing * 2 $base-spacing $base-spacing;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $base-spacing * 2;


	@include grid-media($tablet-grid){
		height: calc(100vh - 156px); 
	}
	
	@include grid-media($desktop-grid){
		height: calc(100vh - 128px); 		 
	}	
	
	@include grid-media($large-desktop-grid){
		height: calc(100vh - 128px); 		 
	}	
	
	@include elem('heading') {
		margin-top: $base-spacing;
		margin-bottom: $base-spacing * -2;
	}

}