
.message {
	@include elem('panel') {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: $base-spacing * 2 auto;
		width: 80%;
		padding: $base-spacing;
		background: $silver;
		border-radius: $base-border-radius;
  		box-shadow: 2px 2px 5px transparentize($oil, .5);
  	 	
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
			width: 600px;		
		} 
	 	
		@media all and (min-width : 1025px) {
			width: 600px;		
		}  			
	}
	
	@include elem('heading') {
		align-self: center;
		color: $lorikeet-blue;		
	}
	
	@include elem('text') {
		align-self: center;
		text-align: center;	
	}
}