.stats-bar{
	background: $jet;
	display: flex;
	padding: $base-spacing;
	justify-content: center;		
		
	svg.icon {

		width: 24px;
		height: 24px;

		@media all and (min-width : 1025px) {
			width: 24px;
		}			
	}
	
	@include elem('wrapper') {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;					
	}
	
	@include elem('left') {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		
	}
	
	@include elem('right') {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;	
	}	

	@include elem('comments') {
		display: flex;
		flex-direction: column;
		flex: 1 1 100%;	
		// margin-top: $base-spacing / 2;
	}		

	@include elem('comments-list') {
		display: flex;
		flex-direction: column;
		flex: 1 1 100%;	
		background: $gainsboro;
		padding: $base-spacing;		
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: $base-border-radius;		
	}	
	
	@include elem('comments-item') {
		display: flex;
		flex: 1 1 100%;
		align-items: center;
		border-bottom: solid 1px $iron;
		span {
			margin-left: $base-spacing;
		}	
	}			


	@include elem('stat') {
		display: flex;

		@include mod('last') {
			display: block;
		}
	}
	
	@include elem('text') {
		margin-left: $base-spacing;
		color: $silver;
		align-self: center;
	}	
}