@import '../settings';

.birdinfo {
	
	width: 100%;

	@include elem('hero') {
		position: relative;
		
		img {
			@include img-responsive();
		}
	}

	@include elem('hero-img') {
		min-height: 400px;
		background-size: cover;
		background-position: 0 10%; 
		background-repeat: no-repeat;		
	}

	@include elem('card') {
		width: 100%;
		margin: 0 auto;
		border-radius: $base-border-radius;
		background: $vapor;
		box-shadow: 2px 2px 5px transparentize($oil, .5);		
	}
	
	@include elem('wings') {
		@include center(0%);
		width: 420px;
		z-index: 0;

		img {
			fill: red;
		}
	}

	@include elem('header') {
		@include center(0%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: $base-spacing / 4 auto $base-spacing;		
		
	}

	@include elem('heading') {

		z-index: 100;
		text-align: center;
		border-radius: $base-border-radius;
		padding: $base-spacing / 2;
		width: 200px;

		background: $jet;
		
		h2 {
			font-size: modular-scale(0);
			color: $vapor;
			margin: 0;
		}
	}
	
	@include elem('btn') {
		fill: $vapor;
		background: $jet;
		border-radius: $base-border-radius;
		padding: $base-spacing / 4;
		max-height: 48px;
		margin: 0 $base-spacing / 4;
  	transition: fill $base-duration $base-timing;		
  	
		&:hover {
			fill: $wes-cyan;
			background: $oil;
		}
	}	
	
	@include elem('edit') {
		// fill: $vapor;
		// background: $jet;
	}
	
	@include elem('delete') {
		
	}
	


	@include elem('body') {
		display: flex;
		flex-direction: column;
		align-items: base-line;
		
		h2 {
			margin-top: $base-spacing * 2;
			text-align: center;
		}		
	}
	
	@include elem('image-wrapper') {
		flex: 1 1 100%;
		
		img {
			@include img-responsive();
		}
	}
	
	@include elem('facts') {
		position: relative;
		padding: $base-spacing * 4 $base-spacing $base-spacing;
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
	}
	
	
	
	
	@media all and (min-width : 1025px) {

		// adjust image and facts to side by side arrangement on desktop
		@include elem('hero') {

		}

		@include elem('hero-img') {
			width: 75%;
			margin: 0 auto;
			min-height: 500px;
		}

		@include elem('gradient') {
			position: absolute;
			min-height: 500px;
			width: 20%;
			// z-index: 100;
						
			@include mod('left') {
				left: 0;
				top: 0;
				background: linear-gradient(90deg, $black 75%, transparentize($black, .999) 100%);
			} 

			@include mod('right') {
				right: 0;
				top: 0;
				background: linear-gradient(270deg, $black 75%, transparentize($black, .999) 100%);		
			} 			
		}

		@include elem('card') {
			max-width: 800px;
			margin: -$base-spacing auto;			
		}

		@include elem('wings') {
			width: 700px;
		}

		@include elem('heading') { 
			width: 400px;

			h2 {
				font-size: modular-scale(1);				
			}
		}
		
		@include elem('facts') {
			padding: $base-spacing * 4 $base-spacing $base-spacing;
			flex: 1 1 60%;
		}		

	}	
}

.birdwings {
	// fill: url(#MyGradient);
	width: 100%;
}
