@import '../settings'; 

.message {
	
	
	@include elem('panel') {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: $base-spacing * 2 auto;
		width: 80%;
		padding: $base-spacing;
		background: $silver;
		border-radius: $base-border-radius;
  	box-shadow: 2px 2px 5px transparentize($oil, .5);		
	}
	
	@include elem('heading') {
		align-self: center;
		color: $lorikeet-blue;
		
	}
	
	@include elem('text') {
		align-self: center;
		text-align: center;
		
	}
}