@import '../settings';  // import base styles, variables and mixins

.topbar {

	background: $jet;
	width: 100%;

	&::before {
    content: '';
    display: block;
    background: $tropical-gradient;  // if we alter the $tropical-gradient in _variable.scss the change will be reflected throughtout the app where ever $tropical-gradient is used.
    height: $base-spacing;
    width: 100%;
		border-bottom: 2px inset transparentize($oil, .5);  // transparentize is a mixin built into sass that changes the opacity of colors    		
	}


	@include elem('nav') {  // this creates element selector .topbar__nav as per BEM methodologies 
		padding: $base-spacing;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom: solid 2px transparentize($oil, .5);

		@media all and (min-width: 900px) {	
			flex-wrap: nowrap;
			align-items: baseline;
		}	
	}


	@include elem('nav-component') {

		@include mod('search') {  // this creates modifier selector topbar__nav-component--search as per BEM methodologies 
			flex: 1 1 100%;
			order: 2;
			margin: $base-spacing 0 0;

			@media all and (min-width: 900px) {	
				flex: 0 1 35%;
				order: 0;
				margin: 0 $base-spacing;				
			}				
		}
	}

	@include elem('search-form') {
		position: relative;
		input {
			transition: all $base-timing $base-duration;
			margin-bottom: 0;
			border: solid 1px $oil;
			background: $charcoal;

			&:hover {
				border-color: $black;
				background: $tuatara;
				color: $vapor;		
			}
		}
	}

	button[type=submit] {
      background: $oil;
      border: 0;
      bottom: 0.3em;
      left: auto;
      outline: none;
      padding: 0 $base-spacing / 2;
      position: absolute;
      right: 0.3em;
      top: 0.3em;		

			img {
	      height: 12px;
	      opacity: 0.7;
	    }
		}

	@include elem('menu') {
		display: flex;
		justify-content: space-around;
	}


	@include elem('link-item') {
		a {
			padding: $base-spacing / 4;
		}
	}
}