// mixiins

@mixin img-responsive() {
	max-width: 100%;
	height: auto;
	display:block;
} 

@mixin center($vertical: 50%) {
	text-align: center;
	z-index: 100;
    position: absolute;
    left: 50%;
    top: $vertical;
    transform: translate(-50%, -50%);	
}

@function invert-font-color($color) {
	@if(lightness($color) > 70) {
		@return $oil; // dark
	} @else {
		@return $vapor;  // light
	}
} 

@mixin container($width, $vert-margin) {
	width: $width;
	margin: $vert-margin auto;
}

@mixin border($top, $right, $bottom, $left, $width: 1px, $color: $black ) {
	@if $top == true {
		border-top: solid $width $color;
	} @else {
		border-top: 0;
	}
	@if $right == true {
		border-right: solid $width $color;
	} @else {
		border-right: 0;		
	}
	@if $bottom == true {
		border-bottom: solid $width $color;
	} @else {
		border-bottom: 0;		
	}
	@if $left == true {
		border-left: solid $width $color;
	}	@else {
		border-left: 0;		
	}		
}

 @mixin heading($size) {
 	font-size: modular-scale($size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    	
 }

 @mixin tropical-gradient($deg) {
 		background: linear-gradient($deg, $lorikeet-blue 0%, $lorikeet-yellow 27%, $wes-pink 60%, $wes-magenta 85%, $lorikeet-blue 97%);
 }
 
 // classes
 
 .container {
	width: 100%;
	margin: 0 auto $base-spacing;
	@include grid-media($tablet-grid){
		min-height: calc(100vh - 156px); 
	}
	
	@include grid-media($desktop-grid){
		min-height: calc(100vh - 128px); 		 

	}		
	@include grid-media($large-desktop-grid){
		min-height: calc(100vh - 128px); 		 
	}		
}

.wrapper {
	margin: 0 auto;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}

