// overwrite bitters styles
$action-color: $vapor;

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}