button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 250ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 250ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #a6a6a6;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 250ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* ================================= 
  COLOURS (Thats right not colors!)
==================================== */
/* ================================= 
  SPACING - Already set in plugins 
  folder we can overide them here
==================================== */
a {
  color: #F6F6F6;
  text-decoration: none;
  transition: color 250ms ease; }
  a:hover {
    color: #b9b9b9; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

.lead {
  font-size: 1.25em; }

/* ================================= 
  BEM create element / modifier 
==================================== */
.container {
  width: 100%;
  margin: 0 auto 1.5em;
  min-height: 600px; }

.wrapper {
  margin: 0 auto; }

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.topbar {
  background: #222222;
  width: 100%; }
  .topbar::before {
    content: '';
    display: block;
    background: linear-gradient(90deg, #38aeF4 0%, #FFE340 30%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
    height: 1.5em;
    width: 100%;
    border-bottom: 2px inset rgba(51, 51, 51, 0.5); }
  .topbar__nav {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 99999;
    box-shadow: 0 2px 3px rgba(51, 51, 51, 0.8); }
    @media all and (min-width: 900px) {
      .topbar__nav {
        flex-wrap: nowrap;
        align-items: baseline; } }
  .topbar__nav-component--search {
    flex: 1 1 100%;
    order: 2;
    margin: 1.5em 0 0; }
    @media all and (min-width: 900px) {
      .topbar__nav-component--search {
        flex: 0 1 35%;
        order: 0;
        margin: 0 1.5em; } }
  .topbar__search-form {
    position: relative; }
    .topbar__search-form input {
      transition: all ease 250ms;
      margin-bottom: 0;
      border: solid 1px #333333;
      background: #555555; }
      .topbar__search-form input:hover {
        border-color: #000000;
        background: #444444;
        color: #F6F6F6; }
  .topbar button[type=submit] {
    background: #333333;
    border: 0;
    bottom: 0.3em;
    left: auto;
    outline: none;
    padding: 0 0.75em;
    position: absolute;
    right: 0.3em;
    top: 0.3em; }
    .topbar button[type=submit] img {
      height: 12px;
      opacity: 0.7; }
  .topbar__menu {
    display: flex;
    justify-content: space-around; }
  .topbar__link-item a {
    padding: 0.375em; }

.button--upload {
  background: #38aeF4;
  box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.4);
  margin: 1.5em auto; }

.birdcard {
  display: flex;
  flex: 0 1 90%;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5); }
  .birdcard svg.icon {
    width: 24px;
    height: 24px; }
    @media all and (min-width: 1025px) {
      .birdcard svg.icon {
        width: 24px; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .birdcard {
      flex: 0 1 45%;
      margin: 2.5%; } }
  @media all and (min-width: 1025px) {
    .birdcard {
      flex: 0 1 25%;
      margin: 2.5%; } }
  .birdcard--Square {
    flex-direction: column; }
  .birdcard--4to3 {
    flex-direction: column; }
  .birdcard--3to2 {
    flex-direction: column; }
  .birdcard--16to9 {
    flex-direction: column; }
  .birdcard--3to4 {
    flex-direction: row; }
  .birdcard--2to3 {
    flex-direction: row; }
  .birdcard--9to16 {
    flex-direction: row; }
  .birdcard__photo {
    position: relative; }
    .birdcard__photo img {
      max-width: 100%;
      height: auto;
      display: block;
      width: 100%;
      height: 100%; }
    .birdcard__photo--Portrait img {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .birdcard__photo--Landscape img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    .birdcard__photo--4to3 {
      flex: 1 1 66%; }
    .birdcard__photo--3to2 {
      flex: 1 1 66%; }
    .birdcard__photo--16to9 {
      flex: 1 1 60%; }
    .birdcard__photo--3to4 {
      flex: 1 1 66%; }
    .birdcard__photo--2to3 {
      flex: 1 1 66%; }
    .birdcard__photo--9to16 {
      flex: 1 1 60%; }
  .birdcard__stats {
    justify-content: space-between;
    padding: 0.75em;
    display: flex; }
    .birdcard__stats--Square {
      background: linear-gradient(90deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%); }
    .birdcard__stats--4to3 {
      background: linear-gradient(90deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
      flex-direction: row;
      align-items: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 33%; }
      @media all and (min-width: 1025px) {
        .birdcard__stats--4to3 {
          padding-top: 1.5em;
          padding-bottom: 1.5em; } }
    .birdcard__stats--3to2 {
      background: linear-gradient(90deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
      flex-direction: row;
      align-items: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 40%; }
      @media all and (min-width: 1025px) {
        .birdcard__stats--3to2 {
          padding-top: 1.5em;
          padding-bottom: 1.5em; } }
    .birdcard__stats--16to9 {
      background: linear-gradient(90deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
      flex-direction: row;
      align-items: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 33%; }
      @media all and (min-width: 1025px) {
        .birdcard__stats--16to9 {
          padding-top: 1.5em;
          padding-bottom: 1.5em; } }
    .birdcard__stats--3to4 {
      background: linear-gradient(180deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
      flex-direction: column;
      align-items: center;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 33%; }
    .birdcard__stats--2to3 {
      background: linear-gradient(180deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
      flex-direction: column;
      align-items: center;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 33%; }
    .birdcard__stats--9to16 {
      background: linear-gradient(180deg, #38aeF4 0%, #FFE340 27%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
      flex-direction: column;
      align-items: center;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 40%; }
  .birdcard__button {
    position: relative;
    background: rgba(246, 246, 246, 0.7);
    border-radius: 50%;
    padding: 0.75em;
    height: 48px;
    width: 48px;
    background-blend-mode: screen; }
    .birdcard__button:hover {
      background: rgba(246, 246, 246, 0.9); }
    .birdcard__button--user {
      position: absolute;
      top: 0.75em;
      left: 0.75em;
      border-radius: 50%;
      background-size: cover;
      transition: opacity 250ms ease;
      opacity: 0.5;
      height: 48px;
      width: 48px;
      border-radius: 50%; }
      .birdcard__button--user:hover {
        opacity: 1; }
    .birdcard__button--delete {
      position: absolute;
      top: 0.75em;
      right: 0.75em;
      background-position: 60% 32%; }
  .birdcard__number {
    text-align: center;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgba(246, 246, 246, 0.7);
    font-size: 0.8em; }

/* ================================= 
  TABLET
==================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* ================================= 
  DESKTOP
==================================== */
@media only screen and (min-device-width: 1024px) {
  /* Styles */ }

.birdinfo {
  width: 100%; }
  .birdinfo__hero {
    position: relative; }
    .birdinfo__hero img {
      max-width: 100%;
      height: auto;
      display: block; }
  .birdinfo__hero-img {
    min-height: 240px;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat; }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      .birdinfo__hero-img {
        min-height: 400px; } }
    @media all and (min-width: 1025px) {
      .birdinfo__hero-img {
        min-height: 550px;
        background-position: 0% 20%; } }
    .birdinfo__hero-img--4to3 {
      background-position: 0 20%; }
      @media all and (min-width: 768px) and (max-width: 1024px) {
        .birdinfo__hero-img--4to3 {
          min-height: 400px;
          background-position: 0% 15%; } }
      @media all and (min-width: 1025px) {
        .birdinfo__hero-img--4to3 {
          min-height: 550px;
          background-position: 0% 20%; } }
    .birdinfo__hero-img--3to2 {
      background-position: 0 50%; }
      @media all and (min-width: 768px) and (max-width: 1024px) {
        .birdinfo__hero-img--3to2 {
          min-height: 400px;
          background-position: 0% 40%; } }
      @media all and (min-width: 1025px) {
        .birdinfo__hero-img--3to2 {
          min-height: 500px;
          background-position: 0% 20%; } }
    .birdinfo__hero-img--16to9 {
      background-position: 0 50%; }
      @media all and (min-width: 768px) and (max-width: 1024px) {
        .birdinfo__hero-img--16to9 {
          min-height: 400px;
          background-position: 0% 30%; } }
      @media all and (min-width: 1025px) {
        .birdinfo__hero-img--16to9 {
          min-height: 500px;
          background-position: 0% 20%; } }
  .birdinfo__card {
    width: 100%;
    border-radius: 3px;
    background: #F6F6F6;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5); }
  .birdinfo__wings {
    text-align: center;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 420px;
    max-width: 100%;
    z-index: 1; }
  .birdinfo__header {
    text-align: center;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.375em auto 1.5em; }
  .birdinfo__heading {
    z-index: 100;
    text-align: center;
    border-radius: 3px;
    padding: 0.75em;
    width: 200px;
    background: #222222; }
    .birdinfo__heading h2 {
      font-size: 1em;
      color: #F6F6F6;
      margin: 0; }
  .birdinfo__btn {
    fill: #F6F6F6;
    background: #222222;
    border-radius: 3px;
    padding: 0.375em;
    max-height: 48px;
    margin: 0 0.375em;
    transition: fill 250ms ease; }
    .birdinfo__btn:hover {
      fill: #48ded4;
      background: #333333; }
    .birdinfo__btn--edit .icon {
      fill: #F6F6F6; }
      .birdinfo__btn--edit .icon:hover {
        fill: #48ded4; }
  .birdinfo__body {
    display: flex;
    flex-direction: column;
    align-items: base-line; }
    .birdinfo__body h2 {
      margin-top: 3em;
      text-align: center; }
  .birdinfo__image-wrapper {
    flex: 1 1 100%; }
    .birdinfo__image-wrapper img {
      max-width: 100%;
      height: auto;
      display: block; }
  .birdinfo__facts {
    position: relative;
    padding: 6em 1.5em 1.5em;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column; }
  @media all and (min-width: 1025px) {
    .birdinfo__gradient {
      position: absolute;
      min-height: 500px;
      width: 20%; }
      .birdinfo__gradient--left {
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #000000 75%, rgba(0, 0, 0, 0.001) 100%); }
      .birdinfo__gradient--right {
        right: 0;
        top: 0;
        background: linear-gradient(270deg, #000000 75%, rgba(0, 0, 0, 0.001) 100%); }
    .birdinfo__card {
      max-width: 800px;
      margin: -1.5em auto 0;
      position: relative;
      z-index: 1; }
    .birdinfo__wings {
      width: 700px; }
    .birdinfo__heading {
      width: 400px; }
      .birdinfo__heading h2 {
        font-size: 1.25em; }
    .birdinfo__facts {
      padding: 6em 1.5em 1.5em;
      flex: 1 1 60%; } }

.birdwings {
  width: 100%; }

.birdlist {
  width: 600px;
  max-width: 90%;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column; }
  .birdlist__title {
    align-self: center; }
  .birdlist__group {
    margin-bottom: 3em; }
  .birdlist__item {
    padding: 0.375em;
    background: #F6F6F6;
    border: solid 1px #888888;
    border-radius: 3px; }
  .birdlist__link {
    color: #333333; }

.camera {
  width: calc(100% - 3em);
  float: left;
  margin-left: 1.5em; }
  @media only screen and (min-width: 768px) {
    .camera {
      width: calc(100% - 3em);
      float: left;
      margin-left: 1.5em; } }
  @media only screen and (min-width: 1024px) {
    .camera {
      width: calc(50% - 2.25em);
      float: left;
      margin-left: 1.5em; } }
  .camera__bird-wrapper {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    /* override this inline for aspect ratio other than square */
    padding-bottom: 75%; }
  .camera__bird {
    z-index: -99;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }
  .camera__viewfinder {
    position: relative;
    z-index: 900;
    overflow: visible; }

.features {
  margin-top: 3em;
  margin-bottom: 3em; }
  @media only screen and (min-width: 768px) {
    .features {
      margin-top: 200px;
      margin-bottom: 3em; } }
  @media only screen and (min-width: 1024px) {
    .features {
      margin-top: 0;
      margin-bottom: 6em; } }
  .features__heading {
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.5625em;
    color: #333333; }
    @media only screen and (min-width: 768px) {
      .features__heading {
        font-size: 1.95312em; } }
  .features__cards-wrapper {
    margin: 1.5em auto;
    width: 90%; }
    .features__cards-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (min-width: 768px) {
      .features__cards-wrapper {
        width: 80%; } }
    @media only screen and (min-width: 1024px) {
      .features__cards-wrapper {
        width: 100%; } }
    @media only screen and (min-width: 1200px) {
      .features__cards-wrapper {
        width: 100%; } }
  .features__cta {
    margin: 0 auto 3em;
    width: 90%; }
    .features__cta::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (min-width: 768px) {
      .features__cta {
        width: 80%; } }
    @media only screen and (min-width: 1024px) {
      .features__cta {
        width: 80%; } }
    @media only screen and (min-width: 1200px) {
      .features__cta {
        width: 60%; } }
    .features__cta p {
      font-size: 1.25em;
      color: #555555; }
  .features__cta-database {
    width: calc(100% - 3em);
    float: left;
    margin-left: 1.5em;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .features__cta-database {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      .features__cta-database {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em; } }
    @media only screen and (min-width: 1200px) {
      .features__cta-database {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em; } }
  .features__cta-signup {
    width: calc(100% - 3em);
    float: left;
    margin-left: 1.5em;
    text-align: center;
    margin-top: 1.5em; }
    @media only screen and (min-width: 768px) {
      .features__cta-signup {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em;
        margin-top: 0; } }
    @media only screen and (min-width: 1024px) {
      .features__cta-signup {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em; } }
    @media only screen and (min-width: 1200px) {
      .features__cta-signup {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em; } }

.feature-card {
  background: #EEEEEE;
  border-radius: 3px;
  padding: 1.5em;
  margin-bottom: 1.5em;
  min-height: 159px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  width: calc(100% - 3em);
  float: left;
  margin-left: 1.5em; }
  @media only screen and (min-width: 768px) {
    .feature-card {
      width: calc(50% - 2.25em);
      float: left;
      margin-left: 1.5em;
      min-height: 183px;
      height: 200px; } }
  @media only screen and (min-width: 1024px) {
    .feature-card {
      width: calc(25% - 1.875em);
      float: left;
      margin-left: 1.5em;
      height: 240px; } }
  @media only screen and (min-width: 1200px) {
    .feature-card {
      width: calc(25% - 1.875em);
      float: left;
      margin-left: 1.5em;
      height: 207px; } }
  .feature-card__icon {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    background: #F6F6F6;
    border-radius: 50%;
    float: left;
    height: 3em;
    padding: 0.6em;
    width: 3em; }
    .feature-card__icon svg {
      width: 1.76471em;
      height: 1.76471em; }
    .feature-card__icon--blue {
      background: linear-gradient(#99d5f9, #0d99ec); }
    .feature-card__icon--yellow {
      background: linear-gradient(#fff2a6, #ffdc0d); }
    .feature-card__icon--pink {
      background: linear-gradient(#f288b1, #cb165c); }
    .feature-card__icon--magenta {
      background: linear-gradient(#c96ae1, #7c1e94); }
  .feature-card__content {
    margin-bottom: 1.5em;
    margin-left: 4.5em; }
  .feature-card__title {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2); }

.footer {
  background: #222222;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .footer__logo {
    width: 360px;
    flex: 0 1 20%; }
  .footer__wings {
    display: relative;
    width: 240px;
    height: 68px;
    flex: 1 1 40%; }
  .footer__links {
    display: flex;
    width: 80%;
    justify-content: space-around;
    text-align: center;
    flex: 1 1 40%;
    color: #666666; }
    .footer__links a {
      color: #888888; }
  .footer__bottom {
    flex: 1 1 100%; }
    .footer__bottom hr {
      border: 0;
      border-top: 1px solid #333333;
      height: 1px; }
    .footer__bottom p {
      color: #555555;
      text-align: center; }

.form {
  box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
  width: 100%;
  margin: 1.5em auto;
  background: #DDDDDD;
  position: relative;
  padding: 1.5em;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .form button {
    margin-top: 0.75em;
    background: #38aeF4;
    box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.4); }
  .form input, .form select {
    border: solid 1px rgba(51, 51, 51, 0.2); }
  .form:disabled {
    background-color: red; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .form {
      width: 600px;
      margin: 1.5em auto; } }
  @media all and (min-width: 1025px) {
    .form {
      width: 600px;
      margin: 1.5em auto; } }
  .form__title {
    color: #F6F6F6;
    margin-bottom: 1.5em;
    background: #333333;
    width: 100%;
    flex: 1 1 100%;
    padding: 0.75em;
    border-radius: 3px; }
    .form__title h2 {
      text-align: center;
      margin: 0 auto; }
  .form__label {
    display: flex; }
    .form__label span {
      margin-left: 0.75em;
      color: #e82c75; }
  .form__input {
    flex: 1 1 100%; }
    .form__input--comments {
      rows: 10; }
    .form__input--half {
      flex: 0 1 50%; }
  .form__dropzone {
    flex: 1 1 100%; }
  .form__dropzone-box {
    width: 100%;
    background: red; }
  .form__submit {
    flex: 1 1 100%;
    align-self: center; }
    .form__submit button {
      width: 100%; }
  .form__reset-panel {
    width: 600px;
    margin: 1.5em auto;
    padding: 1.5em;
    margin-bottom: 3em;
    border-radius: 3px;
    background: #EFEFEF;
    text-align: center;
    color: #888888;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5); }
    .form__reset-panel p {
      margin-bottom: 0; }
    .form__reset-panel a {
      color: rgba(232, 44, 117, 0.6); }
      .form__reset-panel a:hover {
        color: #333333; }

.nav-tabs {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .nav-tabs__link {
    margin: 1.5em;
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-radius: 3px;
    color: #333333;
    display: block;
    padding: 0;
    text-decoration: none; }
  .nav-tabs__button {
    background: #38aeF4;
    margin: 0 0.75em;
    box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.4);
    font-size: 0.8em; }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      .nav-tabs__button {
        font-size: 1em; } }
    @media all and (min-width: 1025px) {
      .nav-tabs__button {
        font-size: 1em; } }

.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  align-self: center;
  min-height: 600px; }
  .hero::after {
    clear: both;
    content: "";
    display: block; }
  .hero__intro-container {
    color: #F6F6F6;
    text-align: center;
    margin-top: 0.75em; }
    @media only screen and (min-width: 768px) {
      .hero__intro-container {
        width: calc(100% - 3em);
        float: left;
        margin-left: 1.5em;
        margin-top: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      .hero__intro-container {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em;
        margin-top: 0; } }
  .hero__cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    color: #F6F6F6;
    margin-top: 1.5em; }
  .hero__cta-buttons {
    display: flex;
    justify-content: space-between; }
    .hero__cta-buttons a:last-child {
      margin-left: 1.5em; }
  .hero__cta-text {
    margin-top: 1.5em; }
  .hero__learn-more {
    width: 100%;
    text-align: center; }
  .hero__learn-more-link svg {
    fill: #F6F6F6; }

.landing {
  background: linear-gradient(0deg, #c9e9fc, #0d99ec);
  max-width: 100%;
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative; }
  .landing__heading {
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    width: 100%;
    text-align: center;
    margin-top: 0.75em;
    font-size: 1.95312em;
    color: #F6F6F6; }
    @media only screen and (min-width: 1024px) {
      .landing__heading {
        font-size: 3.05176em;
        margin-top: 1.5em; } }
  .landing__viewport {
    margin: 0 auto;
    width: 90%; }
    @media only screen and (min-width: 768px) {
      .landing__viewport {
        height: calc(100vh - 156px);
        width: 80%; } }
    @media only screen and (min-width: 1024px) {
      .landing__viewport {
        height: calc(100vh - 128px);
        width: 80%; } }
    @media only screen and (min-width: 1200px) {
      .landing__viewport {
        height: calc(100vh - 128px);
        width: 60%; } }
  @media all and (min-width: 1025px) {
    .landing {
      min-height: 1200px; } }
  .landing__hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
    align-self: center;
    min-height: 600px;
    width: 90%; }
    .landing__hero-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (min-width: 768px) {
      .landing__hero-wrapper {
        height: calc(100vh - 156px);
        width: 80%; } }
    @media only screen and (min-width: 1024px) {
      .landing__hero-wrapper {
        height: calc(100vh - 128px);
        width: 80%; } }
    @media only screen and (min-width: 1200px) {
      .landing__hero-wrapper {
        height: calc(100vh - 128px);
        width: 60%; } }
  .landing__intro-container {
    color: #F6F6F6;
    text-align: center;
    margin-top: 0.75em; }
    @media only screen and (min-width: 768px) {
      .landing__intro-container {
        width: calc(100% - 3em);
        float: left;
        margin-left: 1.5em;
        margin-top: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      .landing__intro-container {
        width: calc(50% - 2.25em);
        float: left;
        margin-left: 1.5em;
        margin-top: 0; } }
  .landing__btn {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .landing__btn svg {
      margin-right: 0.75em;
      fill: #F6F6F6;
      width: 24px;
      height: 24px; }

.loader {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em; }
  .loader__heading {
    margin-top: 1.5em;
    margin-bottom: -3em; }

.message__panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto;
  width: 80%;
  padding: 1.5em;
  background: #EFEFEF;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5); }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .message__panel {
      width: 600px; } }
  @media all and (min-width: 1025px) {
    .message__panel {
      width: 600px; } }

.message__heading {
  align-self: center;
  color: #38aeF4; }

.message__text {
  align-self: center;
  text-align: center; }

.photo {
  min-height: 80vh; }
  .photo__image-wrapper {
    padding: 1.5em;
    position: relative; }
  .photo__image {
    position: relative;
    z-index: 100;
    max-height: 80vh;
    margin: 0 auto;
    filter: 0;
    border: solid 1px #333333;
    max-width: 100%;
    height: auto;
    display: block; }
  .photo__image-background {
    width: 110%;
    z-index: -1;
    min-height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: blur(10px) brightness(70%); }
  .photo__screen {
    width: 100%;
    z-index: -2;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #38aeF4; }

.stats-bar {
  background: #222222;
  display: flex;
  padding: 1.5em;
  justify-content: center; }
  .stats-bar svg.icon {
    width: 24px;
    height: 24px; }
    @media all and (min-width: 1025px) {
      .stats-bar svg.icon {
        width: 24px; } }
  .stats-bar__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .stats-bar__left {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%; }
  .stats-bar__right {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%; }
  .stats-bar__comments {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%; }
  .stats-bar__comments-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin-top: 0.375em;
    background: #DDDDDD;
    padding: 1.5em;
    border-top: solid 1px #999999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 1px 4px 10px -4px #000000; }
  .stats-bar__comments-item {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    border-bottom: solid 1px #CCCCCC; }
    .stats-bar__comments-item span {
      margin-left: 1.5em; }
  .stats-bar__stat {
    display: flex; }
    .stats-bar__stat--last {
      display: block; }
  .stats-bar__text {
    margin-left: 1.5em;
    color: #EFEFEF;
    align-self: center; }

.user-bar {
  background: linear-gradient(90deg, #38aeF4 0%, #FFE340 30%, #e82c75 60%, #a026bf 85%, #38aeF4 97%);
  display: flex;
  padding: 1.5em; }
  .user-bar__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
  .user-bar__title {
    border-radius: 3px;
    background: #222222;
    min-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.5em;
    color: #EEEEEE; }
    .user-bar__title h3 {
      margin-bottom: 0; }

.map__wrapper {
  height: 400px; }

.map__label {
  width: 25%;
  border: solid 1px #333333;
  background: rgba(246, 246, 246, 0.7);
  padding: 1.5em;
  font-size: 1.25em;
  text-align: center;
  border-radius: 3px; }

.map__marker {
  transform: translate(-38px, -80px); }
